svg {
  border: 1px solid #ccc;
}
body {
  font: 10px sans-serif;
  font-size: 18px;
  color: #fff;
  margin: 0px;
}
circle.node {
  fill: lightsteelblue;
  stroke: #555;
  stroke-width: 3px;
}
circle.leaf {
  stroke: #fff;
  stroke-width: 1.5px;
}
path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
}
line.link {
  stroke: #333;
  stroke-opacity: 0.5;
  pointer-events: none;
}

.btn {
  background: #d6e1e8;
  background-image: -webkit-linear-gradient(top, #d6e1e8, #abbac4);
  background-image: -moz-linear-gradient(top, #d6e1e8, #abbac4);
  background-image: -ms-linear-gradient(top, #d6e1e8, #abbac4);
  background-image: -o-linear-gradient(top, #d6e1e8, #abbac4);
  background-image: linear-gradient(to bottom, #d6e1e8, #abbac4);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
